<footer class="footer">
    <!-- links  -->
    <ul class="social-list">
        <!-- <li class="social-list-item"><a href="https://www.linkedin.com/in/chengkm" class="social-list-link" target="_blank"><i class="fab fa-linkedin"></i></a></li>
        <li class="social-list-item"><a href="https://github.com/kengmingcheng" class="social-list-link" target="_blank"><i class="fab fa-github"></i></a></li>
        <li class="social-list-item"><a href="https://medium.com/@k.m.cheng" class="social-list-link" target="_blank"><i class="fab fa-medium"></i></a></li>
        <li class="social-list-item"><a href="https://www.instagram.com/photobykmc" class="social-list-link" target="_blank"><i class="fab fa-instagram"></i></a></li>
        <li class="social-list-item"><a href="mailto:kengmingcheng@outlook.com" class="social-list-link" target="_blank"><i class="fas fa-envelope"></i></a></li>
        <li></li> -->
        <app-social *ngFor="let social of socialLinks" [socialLink]="social" ></app-social>
    </ul>
    <div class="copyright">
        <p>&#169;{{year}}</p>
    </div>
</footer>