/* experience */

.section-exps {
    background-color: var(--clr-light);
    color: var(--clr-dark);
    background-size: cover;
    background-blend-mode: multiply;
    text-align: center;
}

.section-exps-title {
    color: var(--clr-dark);
    position: relative;
}

.section-exps-title::after {
    content: '';
    display: block;
    width: 25%;
    height: 1px;
    margin: 0.5em auto 1em;
    background: var(--clr-dark);
    opacity: 0.25;
}

.exps {
    margin-bottom: 4em;
}

.exp {
    max-width: 500px;
    margin: 0 auto 2em;
}

.career, .education {
    margin: 4em;
}

.career-pic, .edu-pic {
    border-radius: 20px;
    display: block;
    margin: auto;
    width: 50%;
}

.divider {
    border-top: 1em;
    width: 50%;
}

@media (min-width: 800px) {
    .exps {
        display: grid;
        grid-template-columns: min-content;
    }
    .exps {
        display: block;
        max-width: 1000px;
        margin: 0 auto 4em;
    }
    .exp+.exp {
        margin-left: 5em;
    }
    .career, .education {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        min-height: 300px;
    }
    .career-pic, .edu-pic {
        /* background: #303030; */
        width: 25%;
        height: auto;
        margin: 5% auto;
        flex: 1;
    }
    .career-column, .edu-column {
        flex: 2;
        text-align: left;
        margin-left: 5em;
    }

    .career-job-title, .edu-title {
        font-weight: var(--fw-bold);
    }
    
    .career-text, .edu-text {
        margin-top: 3em;
    }
}